@model DBank.Application.Customers.Queries.GetCustomersList.CustomersListViewModel
<div class="tableFixHead">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Customer number</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">City</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 1;
                foreach (var c in Model.Customers)
                {
                    <tr>
                        <td scope="row">@count</td>
                        <td>@c.Id</td>
                        <td>@c.Fullname</td>
                        <td>@c.Emailaddress</td>
                        <td>@c.City</td>
                        <td>
                            <a asp-action="Image" asp-controller="Customers" asp-route-id="@c.Id">
                                <i class="material-icons">
                                    edit
                                </i>
                            </a>
                        </td>
                    </tr>
                    count++;
                }
            }
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-primary my-2"
       asp-action="CustomerList"
       asp-controller="Customers"
       asp-route-pageNumber="@Model.NextPageNumber"
       asp-route-query="@Model.Query"
       data-ajax="true"
       data-ajax-method="GET"
       data-ajax-mode="replace"
       data-ajax-update="#customerList">Next page</a>
</div>
